.logo {
    .mat-icon {
        margin: 10px 10px 8px -10px;
        font-size: 18px;
    }
}

.mat-menu-item {
    .mat-icon {
        margin-top: 5px;
        font-size: 18px;
    }
}

.toolbar-menu {
    position: fixed;
    font-size: 1rem;
    top: 0;
    color: white;
    height: 64px;
    z-index: 1000;
    background-color: #4682B4;
}

.content-center {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.space-right-icon {
    margin-right: 10px;
}
